<div class="container">
    <main>
        <section>
            <div class="Certification">
            <h1 class="mat-display">Certification :</h1>
              <p>
                •	Angular 12  &  NodeJS  The MEAN stack  guide  course completed in udemy  platform in Nov.
              </p>
              <p>
                •	HackerRank Skill Certificate  in Angular (Basic) ID: C69532AC645D in Nov
              </p>
        </div>
        <div class="Certification">
            <h1 class="mat-display">Experience Overview :</h1>
              <p>
                Having 1 Years of experience as a   maintenance engineer in Bharath Industrial Electronic. </p>
              
        </div>
        <div class="Certification">
            <h1 class="mat-display">Professional Experience:  :</h1>
           
            <div class="clint">
            <h2 class="mat-display" >clint :-</h2> 
            <p>HPCL Refinery Mumbai.</p>
            <div class="date">
                
            <h2 class="mat-display" >date :-</h2> 
            <p>25th February 2021 to till </p>
            </div>

        </div>
              <h4 >Role: Maintenances engineer </h4>

            <p>
                  •	Working as a development and support maintenance engineer in HPCL  refinery deployed by ECIL (Hyderabad).
               <br> •	Responsible for modification done on UI by using  CSS and Bootstrap for web scada.
               <br> •	Debugging  the protocols values in console by using Dev tools.
              <br>  •	Maintaining Unix servers by taking back-up and restarting protocols by using terminal shell.
              <br>•	Interact with MySQL database by modifying rows, column’s as per new requirement. 
                
                </p>
              
        </div>
        <br>
        <br>
        <p>It's my 1st atemp  Resume build  </p>
        </section>
    </main>
</div>